In [4]:
import pandas as pd
import numpy as np

dates = pd.date_range('20130101', periods=6)
df1 = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df1

                   A         B         C         D
2013-01-01  1.218254  0.188400  1.960804 -0.610112
2013-01-02 -0.984825  0.521601 -0.013003  1.001190
2013-01-03  0.284137  0.279237  1.092317  0.957881
2013-01-04  0.176093  2.146466 -1.026071 -1.100440
2013-01-05 -0.396029  0.377652  0.470228  0.129246
2013-01-06 -2.359792  0.369334 -1.129354  0.843392